<div class="office-pod-double">

                                {% if branch.agency.portal_logo %}
                                {% for photo in branch.photos limit: 2 %}
                                  <img src="{{ branch.photo | url_for_agency_logo  }}" />
                                {% endfor %}
                                 {% else %}
                                  <img src="{{ 'awaiting-image.png' | theme_image_url }}" />
                                 {% endif %}

                                  <div class="rfc-mob">
                                     <h5>{{branch.name}}, Marketing and Administration</h5>
                                     <p>{{branch.address }}</p>
                                     <p class="sales-tele-email"> {% if property.vox_number %}{{ property.vox_number }}{% else %}{{ branch.contact_telephone }}{% endif %}</p>
                                     <p class="sales-tele-email"><a class="link-a" href="mailto:{{ branch.contact_email }}">{{ branch.contact_email }}</a></p>  
                                  </div>
                                  </div>